{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Dshboard</h1>
    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to your dashboard.
            You have bookmarked {{ total_images_created }} image{{ total_images_created|pluralize }}
    </p>
    {% endwith %}
    <p>Drag the following button to your bookmark's toolbar
        to bookmark images from other websites -->
        <a href="javascript:{% include "book_marklet_launcher.js" %}"
           class="button">Bookmark it</a>
    </p>
    <p>You can also <a href="{% url 'edit' %}">Edit your profile</a>
        or <a href="{% url 'password_change' %}">Change password</a>.
    </p>
{% endblock %}